
//file types
*.bsp
*.cache
*.doc
*.dt
*.inf
*.rad
*.txt
*.tmp
*.vpk
*.vbsp

//folders
bin/
cache/
cfg/
content/
download/
downloadlists/
ent_cache/
graphs/
materials/
resource/
save/
scripts/
sound/
workshop/
