
//file types
*.bsp
*.cache
*.doc
*.dt
*.gz
*.inf
*.inc
*.html
*.lnk
*.log
*.rad
*.tga
*.txt
*.tmp
*.vpk
*.vbsp
*.vdf

//folders
addons/
bin/
cache/
cfg/
content/
download/
downloadlists/
ent_cache/
graphs/
materials/
maps/sxpmgrav/
models/
resource/
save/
save1/
save2/
SDK/
screenshots/
scripts/
sound/
workshop/
user_custom
user_custom/
